body{
    color: #111;
    background: #f6f6f6;
}

a , #searchInput , .keys{
    color: #111;
}
#searchInput , .search , .description {
    background: #f0ecec;
}

.container svg {
    fill: #d2cbcb;
}

.sunMoon{
    fill: #000;
}