body{
    background-color: #111;
    font-family: Poppins;
}

a{
    text-decoration: none;
    color: #2f2f2f;
    background-color: #ffcb74;
    padding: 20px;
    width: 10%;
    border-radius: 20px;
    text-align: center;
    
}

.page{
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
