*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'TT Hoves';
    color: #222;
}

p{
}

section{
    padding: 0 calc(10.6vw - 16px);
    margin-bottom: calc(11vw + 18.4px);
}

section:last-child{
    margin-bottom: 0;
}

.logo{
    width: calc(1vw + 181px);
    width: 295px; 
    margin-top: 37px;
}

.courseData{
    display: flex;
    gap: 30px 160px;
    flex-wrap: wrap;
    font-size: 21px; 
    line-height: 140%; 
    margin-top: 80px;
    margin-bottom: 75px;
}

.courseInfo .value{
    font-weight: 700; 
}

.hello{
    background-image: url('img/html_css_js\ 1.svg');
    background-repeat: no-repeat;
    background-position: right 20px top 70px;
    background-size: calc(23.8vw + 90px);
}

.hcj{
    font-family: Chava; 
    line-height: 110%;
    font-size: calc(1vw + 14.2px);
    margin-bottom: 40px;
}

p{
    font-size: calc(1vw + 14px); 
    font-weight: 300;
    line-height: 140%;
}

.cta{
    margin-top: 20px;
    display: flex;
    gap: 20px 30px;
    flex-wrap: wrap;
}

.primary{
    border-radius: 12px;
    background: #6E3ABA;
    padding: 20px 0;
    color:  #fff;
    width: 328px; 
    text-align: center;
    font-weight: 500; 
    font-size: 18px;
}

.secondary{
    border-radius: 12px;
    border: 1px solid #6E3ABA;
    padding: 20px 0;
    color:  #6E3ABA;
    width: 328px; 
    text-align: center;
    font-weight: 500; 
    font-size: 18px;
}

.screen2{
    margin-top: 160px;
    margin-bottom: 120px;
}

h2{
    font-size: calc(2.6vw + 24px); 
    font-weight: 500;
    letter-spacing: 0.58px;     
    margin-bottom: 60px;
    text-transform: uppercase; 
}

.block1{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 150px;
}

.block11 div{
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 140%;
    font-size: calc(1vw + 14px);
}

.block11 p , .text{
    font-weight: 400;
    line-height: 140%;
}

.purple{
    background: #6E3ABA;
}

section.purple{
    padding-bottom: calc(4.4vw + 23px);
    padding-top: calc(5vw + 22.5px);
}

.purple h3{
    font-size: calc(2vw + 26.5px);
    font-weight: 700;
    letter-spacing: 1.56px;
    text-transform: uppercase; 
    text-align: center;
    color: #fff;
}

.time{
    display: flex;
    justify-content: center;
    margin: calc(4vw + 5px) 0;
    gap: calc(5.3vw + 12px);
}

.timeBlock{
    color: #2F1D4E; 
}

.timeBlock .number{
    font-family: Chava;
    font-size: calc(12.6vw + 12.5px);
    line-height: 107.5%;
}

.timeBlock .date{
    text-align: center;
    font-size: calc(1.9vw + 3px);
    font-weight: 500;
    text-transform: uppercase; 
}

.center{
    margin: 0 auto;
}

.purple .secondary{
    background: #fff;
    margin: auto;
}

.resumeBlock{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 50px;
}

.resumeBlock h3{
    font-size: calc(1.1vw + 34px);
    font-weight: 700;
    line-height: 58px; 
}

.resume .infoBlock{
    margin-top: calc(5.5vw + 19.2px);
    display: flex;
    flex-direction: row;
    gap: 90px 40px;
}

.block{
    margin-bottom: 30px;
}

.infoBlock .block{
    width: calc(10.3vw + 117px);

}

.block .caption{
    font-size: calc(0.5vw + 13px);
    font-weight: 140%;  
    
}
.tutor{
    width: calc(7.7vw + 300px);
}

.duration .block{
    display: flex;
    flex-wrap: wrap;
    gap:30px 120px ;
}

.duration .block div{
    width: 400px;
    margin-bottom: calc(2.2vw + 21px);
}

.duration .block h3{
    font-size: calc(1vw + 14.3px);
}

.cursProgram .caption{
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: 400;
    font-size: calc(0.5vw + 14px);
    line-height: 140%;
}

.cursProgram{
    margin: 0 calc(10.6vw - 16px);
    border: 3px solid #000; 
    padding: 80px 64px 35px 50px;
}

.cursProgram .primary{
    margin-top: 35px;
    width: calc(10.3vw + 201px);
}

.legend{
    margin-top: calc(5.5vw + 20px);
    display: flex;
    gap: 20px 50px;
    flex-wrap: wrap;
}

.bio{
    flex-basis: 460px;
    flex-grow: 3;
}

.ym img{
    width: 100%;
}

.ym{
    flex-grow: 1;
    /* flex-basis: 200px;  */
}

.bio h3{
    text-transform: capitalize;
    text-align: left;
    font-size: calc(1vw + 35px);
}

.achivements{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(1vw + 11.6px) calc(8.8vw - 23px);
    margin-top: calc(5.5vw + 20px);
}

.achivement span{
    display: block;
    margin-top: 10px;
    font-size: calc(0.5vw + 14px);
}