*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'TT Hoves';
    color: #222;
}

h2{
    font-size: calc(2.6vw + 24px); 
    font-weight: 500;
    letter-spacing: 0.58px;     
    margin-bottom: 60px;
    text-transform: uppercase; 
}

p{
    font-size: calc(1vw + 14px); 
    font-weight: 300;
    line-height: 140%;
}

.footer{
    display: flex;
    background: var(--typo-black, #222);
    margin: 0;
    color: #fff;
    padding: calc(4.4vw + 23.4px) calc(10.6vw - 16px);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 90px 20px;
}

.blockLeft{
    flex-basis: 400px;
}

.infoCurs{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

.infoCurs div{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 27px; 
}

.white{
    border-radius: 12px;
    background: #FFF;
    color: var(--typo-black, #222);
    padding: calc(4.4vw + 13.4px);
    flex-basis: 400px;
    position: relative;
    
}

h4{
    text-align: center;
    font-family: TT Hoves;
    font-size: calc(0.4vw + 24.3px);
    font-weight: 700;
    text-transform: uppercase;
}

.white p{
    font-family: TT Hoves;
    font-size: calc(0.5vw + 14px);
    margin-left: 36px;
    margin-top: 10px;
}

.white .signUp{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.signUp input{
    line-height: 150%;
    font-size: 20px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgba(161, 161, 161, 0.42);
}

.grayText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.grayText div{
    color: grey; 
}

.grayText div:first-child{
    margin-bottom: 10px;
}

.bold{
    font-weight: 600; 
    text-transform: lowercase; 
}

.discount{
    position: absolute;
    top: -61px;
    left: -67px;
    background: #6E3ABA;
    border-radius: 50%;
    color: #fff;
    font-size: calc(2.5vw + 30px);
    text-transform: uppercase; 
    font-weight: 700;
    padding: calc(1.3vw + 24px) calc(0.5vw + 14px);
}


